*{
    margin: 0;
}

.headshot{
    width: 100%;
    transition: all 0.5s;
    opacity: 0.6;

}

.headshot:hover{
    opacity: 1;
    /* transform: scale(1.1); */
}
body{
    background-color: black;
}
